attr==0.3.2
brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.1.0
cryptography==43.0.3
docutils==0.21.2
fastapi==0.115.4
faster_whisper==1.0.3
filelock==3.16.1
Flask==3.0.3
h2==4.1.0
HTMLParser==0.0.2
ipython==8.29.0
ipywidgets==8.1.5
jnius==1.1.0
js==1.0
keyring==25.5.0
mock==5.1.0
nbconvert==7.16.4
Pillow==11.0.0
pydantic==2.9.2
pydub==0.25.1
pyodide==0.0.2
pyOpenSSL==24.2.1
pytest==8.3.3
PyYAML==6.0.2
redis==5.2.0
simplejson==3.19.3
Sphinx==8.1.3
starlette==0.41.2
thread==2.0.5
urllib3_secure_extra==0.1.0
uvicorn==0.32.0
vosk==0.3.45
websockets==14.0
xmlrpclib==1.0.1
zstandard==0.23.0
