faster-whisper==1.0.3
Flask==3.0.0
python-dotenv==1.0.0
pydub==0.25.1
pytest==7.4.4
pytest-asyncio==0.23.2
pytest-cov==4.1.0
websockets==12.0
SpeechRecognition==3.10.1
stable_ts_whisperless==2.17.3
ruff==0.1.15
numpy<2
ctranslate2==4.4.0
fastapi==0.115.4
python-multipart==0.0.17 # required
httpx==0.27.2 # required by starlette.testclient (FastAPI)
uvicorn==0.32.0