faster-whisper==1.1.1
pydub==0.25.1
websockets==15.0.1
stable_ts_whisperless==2.19.0
ctranslate2==4.4.0 # 4.4 runs cuda 12 and cudnn 8 but installing cuda via torch requires cu12 and cnn9
fastapi==0.115.12
uvicorn==0.34.2
pydantic==2.11.4
python-multipart==0.0.20
transformers==4.51.3
torch==2.7.0
tqdm==4.67.1
sentencepiece==0.2.0