/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark mode */
    color: #ffffff; /* Light text */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Header styles */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 20px;
    background-color: #1c1c1c; /* Slightly lighter than the body */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    gap: 20px; /* Space between elements */
}

.header h1 {
    font-size: 1.8rem;
    width: calc(100% - 40px); /* Match content panel padding */
    padding: 10px 25px;
    margin: 0 auto;
}

/* Toggle switch container */
.toggle {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

/* Switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #555;
    transition: 0.4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #1e88e5; /* Active blue */
}

input:checked + .slider:before {
    transform: translateX(25px);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Button styles */
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #1e88e5; /* Darker blue */
    color: #ffffff; /* White text */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1565c0; /* Even darker blue for hover */
}

#checkHealth {
    margin-top: 20px;
}

/* Response section */
#apiResponse {
    margin-top: 20px;
    font-family: monospace;
    white-space: pre-wrap;
    text-align: left;
    color: rgba(255, 255, 255, 0.3);
}

/* Drop zone styles */
#dropZone {
    border: 2px dashed #1e88e5;
    padding: 20px;
    margin-top: 20px;
    background-color: #1c1c1c; /* Darker background for contrast */
    color: #1e88e5;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

#dropZone:hover {
    background-color: #292929; /* Slightly lighter on hover */
}

#transcriptionResponse {
    margin: 20px;
}

#translationResponse {
    margin: 20px;
}

/* Content panel styles */
.content-panel {
    width: 95%;
    height: 80vh;
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

/* REST content (two columns) */
.content.rest {
    grid-template-columns: auto;
    gap: 25px;
    width: 100%;
    height: 100%;
}

.content.rest .column {
    width: 50%;
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* WebSocket content (single column) */
.content.websocket {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50%;
}

#liveTranscriptOutput {
    max-width: 60%;
    max-height: 700px;
    width: 100%;
    padding: 30px;
    overflow-y: auto;
    line-height: 2;
    font-size: 18px;
    text-align: left;
    scroll-behavior: smooth;
    overflow: hidden;
}

.new-partial {
    font-style: italic;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.2), 0 0 2px rgba(255, 255, 255, 0.2);
}

.transcript {
    font-style: normal;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4), 0 0 2px rgba(255, 255, 255, 0.5);
}

/* Hide inactive content */
.content {
    display: none;
}

.content.active {
    display: flex;
}

.translation {
    display: none;
}

.translation.active {
    display: flex;
    flex-direction: column;
}

/*Loading Spinner*/
#loadingContainer1, #loadingContainer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 20px;
}

#loadingContainer1.inactive, #loadingContainer2.inactive {
    display: none;
}

.spinner {
    animation: rotator 1.4s linear infinite;
    position: relative;
    z-index: 1000;
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite,
    colors 5.6s ease-in-out infinite;
}

@keyframes colors {
    0% {
        stroke: #3F4C85;
    }
    33% {
        stroke: #B94A40;
    }
    66% {
        stroke: #EBCB54;
    }
    100% {
        stroke: #527A62;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

/* Microphone Animation */
.micButton {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 20px;
}
.mic {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #1e88e5;
  color: #fff;
  font-size: 33px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.25s;
}

.mic::before {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  z-index: -1;
}

.mic:hover{
    background-color: #54a5e4;
    transform: scale(1.1);
}

.recording {
  position: relative;
  box-shadow: 0 0 0 0 #b10000;
  cursor: pointer;
  background:#ff0000;
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);

  &:hover {
    animation: none;
    background-color: #fd5656

  }
}
@keyframes pulse {to {box-shadow: 0 0 0 20px rgba(90, 0, 141, 0);}}

hr {
  border: none;
  height: 2px;
  background: #a5a5a5;
  margin: 20px 0;
}

/* Hide the original radio buttons */
    .radio input[type="radio"] {
      display: none;
    }

    .radio {
        margin-top: 10px;
        margin-top: 10px;
    }

    /* Style the labels as buttons */
    .radio label {
      display: inline-block;
      padding: 10px 20px;
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      color: #555;
      background-color: #f9f9f9;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
    }

    /* Remove spacing between buttons */
    .radio label:not(:first-of-type) {
      border-left: none;
    }

    /* Highlight the selected label */
    .radio input[type="radio"]:checked + label {
      background-color: #1e88e5;
      color: #fff;
    }

    /* Add rounded corners for the first and last buttons */
    .radio label:first-of-type {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .radio label:last-of-type {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover {
  color: #1e88e5;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
